.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacer);
    justify-content: center;
    >a {
        color: var(--text-secondary);
        font-size: var(--font-large);
    }
}