:root {
    --text-primary: white;
    --text-secondary: #5CE1E6;
    --text-tertiary: #FF8484;

    --primary: #263547;
    --secondary: #354564;

    --white-button-fill: rgba(255, 255, 255, 0.3);
    --blurple-button-fill: rgba(38, 53, 71, 0.3);
    --slightly-transparent-blue: rgba(92, 225, 230, 0.8);

    --active-player: white;
    --inactive-player: #00aeb0;

    --song-aggressive: #ba5d5d;
    --song-dramatic: #bab15d;
    --song-sad: #6864bd;
    --song-happy: #5db1ba;
    --song-romantic: #ba5d9e;
}
