:root {
    --primary: #3C257E;
    --primary-light: #F7F1FF;
    --primary-alternative: #9747FF;
    
    --red: #F70000;

    --background-primary: #E8E8E8;
    --background-secondary: #FFFFFF;

    --text-dark: black;
    --text-dark-gray: #6A6A6A;
    --text-medium-gray: #808080;
    --text-light-gray: #AEAEAE;
    --text-light: white;
}
