@use "media";

:root {
    background-color: var(--background-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}
