@use "media";

html {
    font-family: 'poppins';
    color: var(--text-primary);
}

body {
    background-color: var(--primary);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    color: var(--text-secondary);
    font-weight: 700;
    font-size: var(--font-header);
    letter-spacing: 0.03em;
}

h2 {
    color: var(--text-tertiary);
    font-weight: 500;
    font-size: var(--font-smallHeader);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-small);
    letter-spacing: 0.06em;
}

a,
button {
    color: var(--text-primary)
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
