.app_container {
    display: flex;
    justify-content: center;
}

.homepage_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: var(--largerSpacer);
    gap: 36px;
}