.display_container {
    width: 500px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--active-color);
    transition: background-color 7s ease;
}

.back_container {
    position: fixed;
    left: var(--spacer);
    top: var(--spacer);
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: var(--tinySpacer);
    cursor: pointer;
}

.back_container:hover {
    transform: scale(1.02);
}