@use 'media';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    position: relative;
    padding: var(--large-spacer);
    @include media.phone {
        padding: var(--medium-spacer);
    }

    .img_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: -1;
    }

    .welcome {
        width: 100%;
        max-width: 1620px;
        height: 100%;
        border-radius: var(--b-radius);
        border: solid 2px var(--light-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: var(--spacer);

        > h1 {
            color: var(--text-light);
        }
    }
}