@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #4287f5;
    --secondary: #eba134;

    --primary-light: #6ea0f1;

    --text-primary: #4a5566;
    --text-light: #f0f6ff;
    --text-dark: black;
    --text-title: var(--primary);

    --active-player: white;
    --inactive-player: #00aeb0;

    --song-aggressive: #ba5d5d;
    --song-dramatic: #bab15d;
    --song-sad: #6864bd;
    --song-happy: #5db1ba;
    --song-romantic: #ba5d9e;

    --navbar-height: 80px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

@media screen and (max-width: 800px) {
    :root {
        --navbar-height: 60px;
    }
}