@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'poppins';
    color: var(--textPrimary);
}

body {
    background-color: var(--primary);
}

:root {
    --textPrimary: white;
    --textSecondary: #5CE1E6;
    --textTertiary: #FF8484;

    --primary: #263547;
    --secondary: #354564;

    --whiteButtonFill: rgba(255, 255, 255, 0.3);
    --blurpleButtonFill: rgba(38, 53, 71, 0.3);
    --slightlyTransparentBlue: rgba(92, 225, 230, 0.8);

    --active-player: white;
    --inactive-player: #00aeb0;

    --song-aggressive: #ba5d5d;
    --song-dramatic: #bab15d;
    --song-sad: #6864bd;
    --song-happy: #5db1ba;
    --song-romantic: #ba5d9e;

    --borderRadius: 8px;

    --tinierSpacer: 4px;
    --tinySpacer: 8px;
    --smallSpacer: 16px;
    --spacer: 24px;
    --largeSpacer: 48px;
    --largerSpacer: 64px;
    --hugeSpacer: 180px;

    --fontSmall: 1rem;
    --fontMedium: 1.3rem;
    --fontSmallHeader: 1.6rem;
    --fontHeader: 2.4rem;
    --fontButton: 1.4rem;
    --fontHuge: 3.4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    color: var(--textSecondary);
    font-weight: 700;
    font-size: var(--fontHeader);
    letter-spacing: 0.03em;
}

h2 {
    color: var(--textTertiary);
    font-weight: 500;
    font-size: var(--fontSmallHeader);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: var(--fontSmall);
    letter-spacing: 0.06em;
}

a,
button {
    color: var(--textPrimary)
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    :root {
        --navbar-height: 60px;
    }
}