@use 'media';

.display_container {
    display: flex;
    flex-direction: row;
    gap: var(--spacer);
    width: 100%;
    justify-content: center;
    padding: var(--larger-spacer);
    @include media.phone {
        flex-direction: column;
    }
}

.display_card {
    width: 50%;
    aspect-ratio: 0.95;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--active-color);
    transition: background-color 7s ease;
    @include media.phone {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.info_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    @include media.phone {
        width: 100%;
    }
}

.back_container {
    position: fixed;
    left: var(--spacer);
    top: var(--spacer);
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: var(--tiny-spacer);
    cursor: pointer;
}

.back_container:hover {
    transform: scale(1.02);
}